.ProductList {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid dimgray;
  border-radius: 3px;
  box-shadow: 0px 0px 10px -3px #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ProductList-Item {
  padding: 5px;
}
